<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite
	name="Process Testing"
	parallel="false">
	<test name="ProcessTest">
		<groups>
			<dependencies>
				<group
					name="execute"
					depends-on="data.*" />
				<group
					name="data"
					depends-on="input.*" />
				<group
					name="response"
					depends-on="loadSave.*" />
				<group
					name="loadSave"
					depends-on="dofindexmagic.*" />
				<group
					name="input"
					depends-on="response.*" />
			</dependencies>
		</groups>
		<classes>
			<class
				name="org.nees.illinois.uisimcor.fem_executor.test.TestProcessResponse" />
			<class
				name="org.nees.illinois.uisimcor.fem_executor.test.TestDataFileParsing" />
			<class
				name="org.nees.illinois.uisimcor.fem_executor.test.TestLoadSaveConfig" />
			<class
				name="org.nees.illinois.uisimcor.fem_executor.test.TestInputFileGeneration" />
			<class name="org.nees.illinois.uisimcor.fem_executor.test.TestFemExecutor" />
			<class name="org.nees.illinois.uisimcor.fem_executor.test.TestDofIndexMagic" />
		</classes>
	</test> <!-- DataTest -->
</suite> <!-- DataSuite -->

