<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<appender
		name="A1"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} [%-12.12t] %-5p %-35.35c - %m%n</pattern>
		</encoder>
	</appender>
	<logger
		name="org.nees.illinois"
		level="INFO" />
	<logger
		name="org.nees.illinois.uisimcor.fem_executor.test"
		level="DEBUG" />
	<logger
		name="org.nees.illinois.uisimcor.fem_executor.process"
		level="DEBUG" />
	<logger
		name="org.nees.illinois.uisimcor.fem_executor.process.ProcessResponse"
		level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="A1" />
	</root>
</configuration>
